In [173]:
import pandas as pd
import numpy as np
import re

### We will be working on main dataset in this notebook

In [178]:
# merging the 10-part sales data
main = {} # for storing all the 10 main datasets
for i in range(1,11):
    main[i] = pd.read_excel(open('Labelmaster Daily Sales by Product Group Part ' + str(i) + '.xlsx', 'rb'))
    main[i].columns = main[i].iloc[1, :]
    main[i] = main[i].drop(index=[0, 1], axis=0)

l = [main[i] for i in range(1,11)]
main_data = pd.concat(l)
main_data

1    Department Dim Product Group Code         Posting Date Sum of Sales
2               503              50304  1993-01-04 00:00:00           76
3               505              50500  1993-01-04 00:00:00       5434.7
4               505              50502  1993-01-04 00:00:00         2785
5               506              50600  1993-01-04 00:00:00       129.76
6               506              51008  1993-01-04 00:00:00           43
...             ...                ...                  ...          ...
2610            512              51211  2020-10-31 00:00:00       183.27
2611            514              51401  2020-10-31 00:00:00            0
2612            514              51402  2020-10-31 00:00:00          114
2613            516              51601  2020-10-31 00:00:00      19676.4
2614            520                NaN  2020-10-31 00:00:00      48288.2

[1266119 rows x 4 columns]

#### We only need Books and Packaging sales data.

In [179]:
books = main_data[main_data['Department Dim'] == '504']
books

1    Department Dim Product Group Code         Posting Date Sum of Sales
67              504                NaN  1993-01-19 00:00:00       7894.7
127             504                NaN  1993-02-05 00:00:00      22344.2
149             504                NaN  1993-02-11 00:00:00      29866.2
201             504                NaN  1993-02-25 00:00:00      67568.8
297             504                NaN  1993-03-23 00:00:00      21483.3
...             ...                ...                  ...          ...
2542            504              50407  2020-10-30 00:00:00            0
2543            504              50408  2020-10-30 00:00:00            0
2544            504              50409  2020-10-30 00:00:00          504
2594            504              50400  2020-10-31 00:00:00        59.78
2595            504              50401  2020-10-31 00:00:00            0

[160186 rows x 4 columns]

In [180]:
books.sort_values(by='Posting Date', inplace=True) # sorting the data based on date
books.reset_index(drop=True, inplace=True)
books['Posting Date'] = [str(i) for i in books['Posting Date']]

# We will be needing month and year for merging with the external data
books[['Date', 'Time']] = books['Posting Date'].str.split(' ', expand=True)

y_m = []
for i in books['Date']:
    y_m.append(''.join(re.findall('\d+-\d+', i)))
    
books['Year_Month'] = pd.Series(y_m)
books

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
0,504,NaN,1993-01-04 00:00:00,7963.55,1993-01-04,00:00:00,1993-01
1,504,NaN,1993-01-05 00:00:00,14667.7,1993-01-05,00:00:00,1993-01
2,504,NaN,1993-01-06 00:00:00,8421.5,1993-01-06,00:00:00,1993-01
3,504,NaN,1993-01-07 00:00:00,11616.9,1993-01-07,00:00:00,1993-01
4,504,NaN,1993-01-08 00:00:00,15092.7,1993-01-08,00:00:00,1993-01
...,...,...,...,...,...,...,...
160181,504,50404,2021-01-07 00:00:00,0,2021-01-07,00:00:00,2021-01
160182,504,50406,2021-01-07 00:00:00,0,2021-01-07,00:00:00,2021-01
160183,504,50407,2021-01-07 00:00:00,0,2021-01-07,00:00:00,2021-01
160184,504,50408,2021-01-07 00:00:00,146,2021-01-07,00:00:00,2021-01
160185,504,50409,2021-01-07 00:00:00,504,2021-01-07,00:00:00,2021-01

In [221]:
# saving books dataset for future use.
# books.to_csv('Books_data.csv')

In [182]:
# Doing the same for packaging
packaging = main_data[main_data['Department Dim'] == '506']
packaging

1    Department Dim Product Group Code         Posting Date Sum of Sales
5               506              50600  1993-01-04 00:00:00       129.76
6               506              51008  1993-01-04 00:00:00           43
10              506                NaN  1993-01-05 00:00:00      5904.97
15              506              50607  1993-01-06 00:00:00        155.4
16              506              50608  1993-01-06 00:00:00        37.08
...             ...                ...                  ...          ...
2561            506              50616  2020-10-30 00:00:00        16.58
2598            506              50600  2020-10-31 00:00:00         -8.9
2599            506              50602  2020-10-31 00:00:00        197.7
2600            506              50605  2020-10-31 00:00:00       424.08
2601            506              50612  2020-10-31 00:00:00            0

[189015 rows x 4 columns]

In [183]:
packaging.sort_values(by='Posting Date', inplace=True)
packaging.reset_index(drop=True, inplace=True)
packaging['Posting Date'] = [str(i) for i in packaging['Posting Date']]
packaging[['Date', 'Time']] = packaging['Posting Date'].str.split(' ', expand=True)

y_m = []
for i in packaging['Date']:
    y_m.append(''.join(re.findall('\d+-\d+', i)))

packaging['Year_Month'] = pd.Series(y_m)
packaging

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
0,506,50600,1993-01-04 00:00:00,129.76,1993-01-04,00:00:00,1993-01
1,506,50613,1993-01-04 00:00:00,30.9,1993-01-04,00:00:00,1993-01
2,506,50604,1993-01-04 00:00:00,1117.2,1993-01-04,00:00:00,1993-01
3,506,50606,1993-01-04 00:00:00,361,1993-01-04,00:00:00,1993-01
4,506,NaN,1993-01-04 00:00:00,3195.52,1993-01-04,00:00:00,1993-01
...,...,...,...,...,...,...,...
189010,506,50609,2021-01-07 00:00:00,72.2,2021-01-07,00:00:00,2021-01
189011,506,50616,2021-01-07 00:00:00,82.01,2021-01-07,00:00:00,2021-01
189012,506,50613,2021-01-07 00:00:00,712.92,2021-01-07,00:00:00,2021-01
189013,506,50614,2021-01-07 00:00:00,266,2021-01-07,00:00:00,2021-01
189014,506,50608,2021-01-07 00:00:00,17.28,2021-01-07,00:00:00,2021-01

In [222]:
# Saving packagin data for future use
# packaging.to_csv('Packaging_data.csv')