In [29]:
import pandas as pd
import numpy as np
import re

### We will be working on main dataset in this notebook

In [30]:
# merging the 10-part sales data
main = {} # for storing all the 10 main datasets
for i in range(1,11):
    main[i] = pd.read_excel(open('C:/Users/Sword Guo/OneDrive/Practicum/Datasets/Labelmaster Daily Sales by Product Group Part ' + str(i) + '.xlsx', 'rb'))
    main[i].columns = main[i].iloc[1, :]
    main[i] = main[i].drop(index=[0, 1], axis=0)

l = [main[i] for i in range(1,11)]
main_data = pd.concat(l)
main_data

D:\anaconda\envs\py37\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  after removing the cwd from sys.path.

1    Department Dim Product Group Code         Posting Date Sum of Sales
2               503              50304  1993-01-04 00:00:00           76
3               505              50500  1993-01-04 00:00:00       5434.7
4               505              50502  1993-01-04 00:00:00         2785
5               506              50600  1993-01-04 00:00:00       129.76
6               506              51008  1993-01-04 00:00:00           43
...             ...                ...                  ...          ...
2610            512              51211  2020-10-31 00:00:00       183.27
2611            514              51401  2020-10-31 00:00:00            0
2612            514              51402  2020-10-31 00:00:00          114
2613            516              51601  2020-10-31 00:00:00     19676.42
2614            520                NaN  2020-10-31 00:00:00     48288.25

[1266119 rows x 4 columns]

#### We only need Books and Packaging sales data.

In [31]:
books = main_data[main_data['Department Dim'] == '504']
books

1    Department Dim Product Group Code         Posting Date Sum of Sales
67              504                NaN  1993-01-19 00:00:00       7894.7
127             504                NaN  1993-02-05 00:00:00      22344.2
149             504                NaN  1993-02-11 00:00:00     29866.15
201             504                NaN  1993-02-25 00:00:00     67568.81
297             504                NaN  1993-03-23 00:00:00      21483.3
...             ...                ...                  ...          ...
2542            504              50407  2020-10-30 00:00:00            0
2543            504              50408  2020-10-30 00:00:00            0
2544            504              50409  2020-10-30 00:00:00          504
2594            504              50400  2020-10-31 00:00:00        59.78
2595            504              50401  2020-10-31 00:00:00            0

[160186 rows x 4 columns]

In [32]:
books.sort_values(by='Posting Date', inplace=True) # sorting the data based on date
books.reset_index(drop=True, inplace=True)
books['Posting Date'] = [str(i) for i in books['Posting Date']]

# We will be needing month and year for merging with the external data
books[['Date', 'Time']] = books['Posting Date'].str.split(' ', expand=True)

y_m = []
for i in books['Date']:
    y_m.append(''.join(re.findall('\d+-\d+', i)))
    
books['Year_Month'] = pd.Series(y_m)
books

D:\anaconda\envs\py37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\anaconda\envs\py37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\anaconda\envs\py37\lib\site-packages\pandas\core\frame.py:3188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
D:\anaconda\envs\py37\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
0,504,NaN,1993-01-04 00:00:00,7963.55,1993-01-04,00:00:00,1993-01
1,504,NaN,1993-01-05 00:00:00,14667.7,1993-01-05,00:00:00,1993-01
2,504,NaN,1993-01-06 00:00:00,8421.5,1993-01-06,00:00:00,1993-01
3,504,NaN,1993-01-07 00:00:00,11616.85,1993-01-07,00:00:00,1993-01
4,504,NaN,1993-01-08 00:00:00,15092.72,1993-01-08,00:00:00,1993-01
...,...,...,...,...,...,...,...
160181,504,50404,2021-01-07 00:00:00,0,2021-01-07,00:00:00,2021-01
160182,504,50406,2021-01-07 00:00:00,0,2021-01-07,00:00:00,2021-01
160183,504,50407,2021-01-07 00:00:00,0,2021-01-07,00:00:00,2021-01
160184,504,50408,2021-01-07 00:00:00,146,2021-01-07,00:00:00,2021-01
160185,504,50409,2021-01-07 00:00:00,504,2021-01-07,00:00:00,2021-01

In [33]:
# saving books dataset for future use.
# books.to_csv('Books_data.csv')

In [34]:
# Doing the same for packaging
packaging = main_data[main_data['Department Dim'] == '506']
packaging

1    Department Dim Product Group Code         Posting Date Sum of Sales
5               506              50600  1993-01-04 00:00:00       129.76
6               506              51008  1993-01-04 00:00:00           43
10              506                NaN  1993-01-05 00:00:00      5904.97
15              506              50607  1993-01-06 00:00:00        155.4
16              506              50608  1993-01-06 00:00:00        37.08
...             ...                ...                  ...          ...
2561            506              50616  2020-10-30 00:00:00        16.58
2598            506              50600  2020-10-31 00:00:00         -8.9
2599            506              50602  2020-10-31 00:00:00        197.7
2600            506              50605  2020-10-31 00:00:00       424.08
2601            506              50612  2020-10-31 00:00:00            0

[189015 rows x 4 columns]

In [35]:
packaging.sort_values(by='Posting Date', inplace=True)
packaging.reset_index(drop=True, inplace=True)
packaging['Posting Date'] = [str(i) for i in packaging['Posting Date']]
packaging[['Date', 'Time']] = packaging['Posting Date'].str.split(' ', expand=True)

y_m = []
for i in packaging['Date']:
    y_m.append(''.join(re.findall('\d+-\d+', i)))

packaging['Year_Month'] = pd.Series(y_m)
packaging

D:\anaconda\envs\py37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\anaconda\envs\py37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\anaconda\envs\py37\lib\site-packages\pandas\core\frame.py:3188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
D:\anaconda\envs\py37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
0,506,50600,1993-01-04 00:00:00,129.76,1993-01-04,00:00:00,1993-01
1,506,50613,1993-01-04 00:00:00,30.9,1993-01-04,00:00:00,1993-01
2,506,50604,1993-01-04 00:00:00,1117.2,1993-01-04,00:00:00,1993-01
3,506,50606,1993-01-04 00:00:00,361,1993-01-04,00:00:00,1993-01
4,506,NaN,1993-01-04 00:00:00,3195.52,1993-01-04,00:00:00,1993-01
...,...,...,...,...,...,...,...
189010,506,50609,2021-01-07 00:00:00,72.2,2021-01-07,00:00:00,2021-01
189011,506,50616,2021-01-07 00:00:00,82.01,2021-01-07,00:00:00,2021-01
189012,506,50613,2021-01-07 00:00:00,712.92,2021-01-07,00:00:00,2021-01
189013,506,50614,2021-01-07 00:00:00,266,2021-01-07,00:00:00,2021-01
189014,506,50608,2021-01-07 00:00:00,17.28,2021-01-07,00:00:00,2021-01

In [36]:
# Saving packagin data for future use
# packaging.to_csv('Packaging_data.csv')

### Merge packaging and books datasets into external dataset

In [46]:
external = pd.read_csv("C:/Users/Sword Guo/OneDrive/Practicum/LabelMaster_Sales_Forecasting/data/external_monthly_data.csv", index_col=0)
external.head()

,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking","Dry Van Trailer Loadings (000s, SA)_freight_m_trucking","Reefer Trailer Loadings (000s, SA)_freight_m_trucking","Flatbed Trailer Loadings (000s, SA)_freight_m_trucking","Tank Trailer Loadings (000s, SA)_freight_m_trucking","Bulk Trailer/Straight Truck Loadings (000s, SA)_freight_m_trucking","Food & Kindred Products (000s, SA)_freight_m_trucking","Stone, Clay, Glass & Concrete (000s, SA)_freight_m_trucking",...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
0,42923.478144,76.471007,82.382601,14649.588017,2806.692616,4569.699736,5579.703117,15317.794658,6534.131885,3803.687853,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,43029.250092,76.659447,82.972726,14797.520698,2782.036433,4621.964261,5534.442084,15293.286615,6462.440150,3854.626066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,43569.191027,77.621387,83.662225,14985.078197,2775.156686,4666.454484,5543.481054,15599.020604,6495.537417,3860.487015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44421.579068,79.139972,83.420869,15186.045111,2760.592455,4739.934294,5779.736522,15955.270687,6620.956039,3897.838060,...,2266.185691,21339.977517,93803.792704,98.667097,NaN,NaN,5936.731399,97.277841,NaN,NaN
4,44679.069698,79.598709,83.692980,15280.932319,2782.330324,4762.928519,5741.757514,16111.121021,6604.793809,3899.166170,...,2388.153341,21444.716725,93092.206116,97.918618,-0.75859,NaN,5895.322992,96.599333,-0.697495,NaN

In [44]:

books_ext = pd.merge(books, external, left_on='Year_Month', right_on='Year_Month', how='left')
pack_ext = pd.merge(packaging, external, left_on='Year_Month', right_on='Year_Month', how='left')

#### books dataset after merged

In [45]:
print(books_ext.shape)
books_ext.head(50)

(160186, 250)

,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking",...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
0,504,NaN,1993-01-04 00:00:00,7963.55,1993-01-04,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
1,504,NaN,1993-01-05 00:00:00,14667.7,1993-01-05,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
2,504,NaN,1993-01-06 00:00:00,8421.5,1993-01-06,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
3,504,NaN,1993-01-07 00:00:00,11616.85,1993-01-07,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
4,504,NaN,1993-01-08 00:00:00,15092.72,1993-01-08,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
5,504,NaN,1993-01-11 00:00:00,21961.25,1993-01-11,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
6,504,NaN,1993-01-12 00:00:00,13548.4,1993-01-12,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
7,504,NaN,1993-01-13 00:00:00,9092.18,1993-01-13,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
8,504,NaN,1993-01-14 00:00:00,13244.05,1993-01-14,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
9,504,NaN,1993-01-15 00:00:00,3890.45,1993-01-15,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
10,504,NaN,1993-01-18 00:00:00,7842.5,1993-01-18,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
11,504,NaN,1993-01-19 00:00:00,7894.7,1993-01-19,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
12,504,NaN,1993-01-20 00:00:00,8866.65,1993-01-20,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
13,504,NaN,1993-01-21 00:00:00,17863.05,1993-01-21,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
14,504,NaN,1993-01-22 00:00:00,14669.95,1993-01-22,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
15,504,NaN,1993-01-25 00:00:00,6514.8,1993-01-25,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
16,504,NaN,1993-01-26 00:00:00,12230.35,1993-01-26,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
17,504,NaN,1993-01-27 00:00:00,14433.3,1993-01-27,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
18,504,NaN,1993-01-28 00:00:00,13496.75,1993-01-28,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
19,504,NaN,1993-01-29 00:00:00,13564.81,1993-01-29,00:00:00,1993-01,44825.935536,79.860360,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
20,504,NaN,1993-02-01 00:00:00,8801.85,1993-02-01,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
21,504,NaN,1993-02-02 00:00:00,10878.2,1993-02-02,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
22,504,NaN,1993-02-03 00:00:00,7592.9,1993-02-03,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
23,504,NaN,1993-02-04 00:00:00,4461.4,1993-02-04,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
24,504,NaN,1993-02-05 00:00:00,22344.2,1993-02-05,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
25,504,NaN,1993-02-09 00:00:00,42364.75,1993-02-09,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
26,504,NaN,1993-02-10 00:00:00,19713.2,1993-02-10,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
27,504,NaN,1993-02-11 00:00:00,29866.15,1993-02-11,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
28,504,NaN,1993-02-12 00:00:00,27397.05,1993-02-12,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
29,504,NaN,1993-02-15 00:00:00,13676.55,1993-02-15,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
30,504,NaN,1993-02-16 00:00:00,19227.25,1993-02-16,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
31,504,NaN,1993-02-17 00:00:00,15392.85,1993-02-17,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
32,504,NaN,1993-02-18 00:00:00,11911.05,1993-02-18,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
33,504,NaN,1993-02-19 00:00:00,15341.05,1993-02-19,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
34,504,NaN,1993-02-22 00:00:00,11691.55,1993-02-22,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
35,504,NaN,1993-02-23 00:00:00,47815.45,1993-02-23,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
36,504,NaN,1993-02-25 00:00:00,67568.81,1993-02-25,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
37,504,NaN,1993-02-26 00:00:00,12990.2,1993-02-26,00:00:00,1993-02,45132.366368,80.406287,87.453827,...,2503.874849,22676.562125,95868.810098,100.839176,-0.271049,NaN,6246.790185,102.358389,-0.163584,NaN
38,504,NaN,1993-03-01 00:00:00,7664.5,1993-03-01,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
39,504,NaN,1993-03-02 00:00:00,16632.35,1993-03-02,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
40,504,NaN,1993-03-03 00:00:00,6528.25,1993-03-03,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
41,504,NaN,1993-03-04 00:00:00,12795.85,1993-03-04,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
42,504,NaN,1993-03-05 00:00:00,20882.45,1993-03-05,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
43,504,NaN,1993-03-08 00:00:00,10777.35,1993-03-08,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
44,504,NaN,1993-03-09 00:00:00,7669.1,1993-03-09,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
45,504,NaN,1993-03-10 00:00:00,10439.4,1993-03-10,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
46,504,NaN,1993-03-11 00:00:00,8007.9,1993-03-11,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
47,504,NaN,1993-03-12 00:00:00,9756.75,1993-03-12,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
48,504,NaN,1993-03-15 00:00:00,12372,1993-03-15,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN
49,504,NaN,1993-03-16 00:00:00,4092.45,1993-03-16,00:00:00,1993-03,44649.530578,79.546083,87.331396,...,2559.515725,22642.199307,95438.005138,100.386036,-0.449369,NaN,6242.517659,102.288380,-0.068396,NaN

#### packaging dataset after merged

In [47]:
print(pack_ext.shape)
pack_ext.head(50)

(189015, 250)

,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking",...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
0,506,50600,1993-01-04 00:00:00,129.76,1993-01-04,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
1,506,50613,1993-01-04 00:00:00,30.9,1993-01-04,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
2,506,50604,1993-01-04 00:00:00,1117.2,1993-01-04,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
3,506,50606,1993-01-04 00:00:00,361,1993-01-04,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
4,506,NaN,1993-01-04 00:00:00,3195.52,1993-01-04,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
5,506,51008,1993-01-04 00:00:00,43,1993-01-04,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
6,506,50600,1993-01-05 00:00:00,314.72,1993-01-05,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
7,506,50613,1993-01-05 00:00:00,154.5,1993-01-05,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
8,506,50607,1993-01-05 00:00:00,0,1993-01-05,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
9,506,50609,1993-01-05 00:00:00,269.95,1993-01-05,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
10,506,50608,1993-01-05 00:00:00,0,1993-01-05,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
11,506,50604,1993-01-05 00:00:00,3534,1993-01-05,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
12,506,NaN,1993-01-05 00:00:00,5904.97,1993-01-05,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
13,506,50606,1993-01-05 00:00:00,4499.8,1993-01-05,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
14,506,51008,1993-01-05 00:00:00,200,1993-01-05,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
15,506,50608,1993-01-06 00:00:00,37.08,1993-01-06,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
16,506,50604,1993-01-06 00:00:00,0,1993-01-06,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
17,506,50607,1993-01-06 00:00:00,155.4,1993-01-06,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
18,506,50600,1993-01-06 00:00:00,349.03,1993-01-06,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
19,506,50606,1993-01-06 00:00:00,1016.75,1993-01-06,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
20,506,50605,1993-01-06 00:00:00,0,1993-01-06,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
21,506,50609,1993-01-06 00:00:00,311.7,1993-01-06,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
22,506,NaN,1993-01-06 00:00:00,6531.75,1993-01-06,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
23,506,50606,1993-01-07 00:00:00,1094.4,1993-01-07,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
24,506,50605,1993-01-07 00:00:00,446.1,1993-01-07,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
25,506,NaN,1993-01-07 00:00:00,7307.47,1993-01-07,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
26,506,50609,1993-01-07 00:00:00,23.25,1993-01-07,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
27,506,50600,1993-01-07 00:00:00,1716.27,1993-01-07,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
28,506,50604,1993-01-07 00:00:00,912,1993-01-07,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
29,506,50613,1993-01-07 00:00:00,92.7,1993-01-07,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
30,506,51008,1993-01-07 00:00:00,-41,1993-01-07,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
31,506,50606,1993-01-08 00:00:00,1929.9,1993-01-08,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
32,506,50604,1993-01-08 00:00:00,160.16,1993-01-08,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
33,506,50613,1993-01-08 00:00:00,61.8,1993-01-08,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
34,506,50607,1993-01-08 00:00:00,510,1993-01-08,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
35,506,50605,1993-01-08 00:00:00,2135.25,1993-01-08,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
36,506,NaN,1993-01-08 00:00:00,9724.29,1993-01-08,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
37,506,50600,1993-01-08 00:00:00,525.91,1993-01-08,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
38,506,51008,1993-01-08 00:00:00,68,1993-01-08,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
39,506,50609,1993-01-08 00:00:00,325,1993-01-08,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
40,506,50606,1993-01-11 00:00:00,501.75,1993-01-11,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
41,506,50600,1993-01-11 00:00:00,122.83,1993-01-11,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
42,506,51008,1993-01-11 00:00:00,43,1993-01-11,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
43,506,50604,1993-01-11 00:00:00,590,1993-01-11,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
44,506,NaN,1993-01-11 00:00:00,9891.42,1993-01-11,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
45,506,51006,1993-01-11 00:00:00,49,1993-01-11,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
46,506,50613,1993-01-11 00:00:00,61.8,1993-01-11,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
47,506,50609,1993-01-12 00:00:00,23.8,1993-01-12,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
48,506,50604,1993-01-12 00:00:00,4947.6,1993-01-12,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN
49,506,51008,1993-01-12 00:00:00,46.5,1993-01-12,00:00:00,1993-01,44825.935536,79.86036,87.067829,...,2495.984706,22644.041659,96129.367403,101.113242,0.900763,NaN,6257.025649,102.526105,1.796305,NaN