In [72]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

### We will be working on main dataset in this notebook

In [73]:
# merging the 10-part sales data
main = {} # for storing all the 10 main datasets
for i in range(1,11):
    main[i] = pd.read_excel(open('C:/Users/Sword Guo/OneDrive/Practicum/Datasets/Labelmaster Daily Sales by Product Group Part ' + str(i) + '.xlsx', 'rb'))
    main[i].columns = main[i].iloc[1, :]
    main[i] = main[i].drop(index=[0, 1], axis=0)

l = [main[i] for i in range(1,11)]
main_data = pd.concat(l)
main_data

1    Department Dim Product Group Code         Posting Date Sum of Sales
2               503              50304  1993-01-04 00:00:00           76
3               505              50500  1993-01-04 00:00:00       5434.7
4               505              50502  1993-01-04 00:00:00         2785
5               506              50600  1993-01-04 00:00:00       129.76
6               506              51008  1993-01-04 00:00:00           43
...             ...                ...                  ...          ...
2610            512              51211  2020-10-31 00:00:00       183.27
2611            514              51401  2020-10-31 00:00:00            0
2612            514              51402  2020-10-31 00:00:00          114
2613            516              51601  2020-10-31 00:00:00     19676.42
2614            520                NaN  2020-10-31 00:00:00     48288.25

[1266119 rows x 4 columns]

#### We only need Books and Packaging sales data.

In [74]:
books = main_data[main_data['Department Dim'] == '504']
books

1    Department Dim Product Group Code         Posting Date Sum of Sales
67              504                NaN  1993-01-19 00:00:00       7894.7
127             504                NaN  1993-02-05 00:00:00      22344.2
149             504                NaN  1993-02-11 00:00:00     29866.15
201             504                NaN  1993-02-25 00:00:00     67568.81
297             504                NaN  1993-03-23 00:00:00      21483.3
...             ...                ...                  ...          ...
2542            504              50407  2020-10-30 00:00:00            0
2543            504              50408  2020-10-30 00:00:00            0
2544            504              50409  2020-10-30 00:00:00          504
2594            504              50400  2020-10-31 00:00:00        59.78
2595            504              50401  2020-10-31 00:00:00            0

[160186 rows x 4 columns]

In [75]:
books.sort_values(by='Posting Date', inplace=True) # sorting the data based on date
books.reset_index(drop=True, inplace=True)
books['Posting Date'] = [str(i) for i in books['Posting Date']]

# We will be needing month and year for merging with the external data
books[['Date', 'Time']] = books['Posting Date'].str.split(' ', expand=True)

y_m = []
for i in books['Date']:
    y_m.append(''.join(re.findall('\d+-\d+', i)))
    
books['Year_Month'] = pd.Series(y_m)
books

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
0,504,NaN,1993-01-04 00:00:00,7963.55,1993-01-04,00:00:00,1993-01
1,504,NaN,1993-01-05 00:00:00,14667.7,1993-01-05,00:00:00,1993-01
2,504,NaN,1993-01-06 00:00:00,8421.5,1993-01-06,00:00:00,1993-01
3,504,NaN,1993-01-07 00:00:00,11616.85,1993-01-07,00:00:00,1993-01
4,504,NaN,1993-01-08 00:00:00,15092.72,1993-01-08,00:00:00,1993-01
...,...,...,...,...,...,...,...
160181,504,50404,2021-01-07 00:00:00,0,2021-01-07,00:00:00,2021-01
160182,504,50406,2021-01-07 00:00:00,0,2021-01-07,00:00:00,2021-01
160183,504,50407,2021-01-07 00:00:00,0,2021-01-07,00:00:00,2021-01
160184,504,50408,2021-01-07 00:00:00,146,2021-01-07,00:00:00,2021-01
160185,504,50409,2021-01-07 00:00:00,504,2021-01-07,00:00:00,2021-01

In [76]:
# saving books dataset for future use.
# books.to_csv('Books_data.csv')

In [77]:
# Doing the same for packaging
packaging = main_data[main_data['Department Dim'] == '506']
packaging

1    Department Dim Product Group Code         Posting Date Sum of Sales
5               506              50600  1993-01-04 00:00:00       129.76
6               506              51008  1993-01-04 00:00:00           43
10              506                NaN  1993-01-05 00:00:00      5904.97
15              506              50607  1993-01-06 00:00:00        155.4
16              506              50608  1993-01-06 00:00:00        37.08
...             ...                ...                  ...          ...
2561            506              50616  2020-10-30 00:00:00        16.58
2598            506              50600  2020-10-31 00:00:00         -8.9
2599            506              50602  2020-10-31 00:00:00        197.7
2600            506              50605  2020-10-31 00:00:00       424.08
2601            506              50612  2020-10-31 00:00:00            0

[189015 rows x 4 columns]

In [78]:
packaging.sort_values(by='Posting Date', inplace=True)
packaging.reset_index(drop=True, inplace=True)
packaging['Posting Date'] = [str(i) for i in packaging['Posting Date']]
packaging[['Date', 'Time']] = packaging['Posting Date'].str.split(' ', expand=True)

y_m = []
for i in packaging['Date']:
    y_m.append(''.join(re.findall('\d+-\d+', i)))

packaging['Year_Month'] = pd.Series(y_m)
packaging

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
0,506,50600,1993-01-04 00:00:00,129.76,1993-01-04,00:00:00,1993-01
1,506,50613,1993-01-04 00:00:00,30.9,1993-01-04,00:00:00,1993-01
2,506,50604,1993-01-04 00:00:00,1117.2,1993-01-04,00:00:00,1993-01
3,506,50606,1993-01-04 00:00:00,361,1993-01-04,00:00:00,1993-01
4,506,NaN,1993-01-04 00:00:00,3195.52,1993-01-04,00:00:00,1993-01
...,...,...,...,...,...,...,...
189010,506,50609,2021-01-07 00:00:00,72.2,2021-01-07,00:00:00,2021-01
189011,506,50616,2021-01-07 00:00:00,82.01,2021-01-07,00:00:00,2021-01
189012,506,50613,2021-01-07 00:00:00,712.92,2021-01-07,00:00:00,2021-01
189013,506,50614,2021-01-07 00:00:00,266,2021-01-07,00:00:00,2021-01
189014,506,50608,2021-01-07 00:00:00,17.28,2021-01-07,00:00:00,2021-01

In [79]:
# Saving packagin data for future use
# packaging.to_csv('Packaging_data.csv')

### Only keep the data from 2008- 2020 from external dataset

In [80]:
external = pd.read_csv("C:/Users/Sword Guo/OneDrive/Practicum/LabelMaster_Sales_Forecasting/data/external_monthly_data.csv", index_col=0)
external.head()

,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking","Dry Van Trailer Loadings (000s, SA)_freight_m_trucking","Reefer Trailer Loadings (000s, SA)_freight_m_trucking","Flatbed Trailer Loadings (000s, SA)_freight_m_trucking","Tank Trailer Loadings (000s, SA)_freight_m_trucking","Bulk Trailer/Straight Truck Loadings (000s, SA)_freight_m_trucking","Food & Kindred Products (000s, SA)_freight_m_trucking","Stone, Clay, Glass & Concrete (000s, SA)_freight_m_trucking",...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
0,42923.478144,76.471007,82.382601,14649.588017,2806.692616,4569.699736,5579.703117,15317.794658,6534.131885,3803.687853,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,43029.250092,76.659447,82.972726,14797.520698,2782.036433,4621.964261,5534.442084,15293.286615,6462.440150,3854.626066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,43569.191027,77.621387,83.662225,14985.078197,2775.156686,4666.454484,5543.481054,15599.020604,6495.537417,3860.487015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44421.579068,79.139972,83.420869,15186.045111,2760.592455,4739.934294,5779.736522,15955.270687,6620.956039,3897.838060,...,2266.185691,21339.977517,93803.792704,98.667097,NaN,NaN,5936.731399,97.277841,NaN,NaN
4,44679.069698,79.598709,83.692980,15280.932319,2782.330324,4762.928519,5741.757514,16111.121021,6604.793809,3899.166170,...,2388.153341,21444.716725,93092.206116,97.918618,-0.75859,NaN,5895.322992,96.599333,-0.697495,NaN

In [81]:
external.loc[external["Year_Month"] == "2008-01"]

,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking","Dry Van Trailer Loadings (000s, SA)_freight_m_trucking","Reefer Trailer Loadings (000s, SA)_freight_m_trucking","Flatbed Trailer Loadings (000s, SA)_freight_m_trucking","Tank Trailer Loadings (000s, SA)_freight_m_trucking","Bulk Trailer/Straight Truck Loadings (000s, SA)_freight_m_trucking","Food & Kindred Products (000s, SA)_freight_m_trucking","Stone, Clay, Glass & Concrete (000s, SA)_freight_m_trucking",...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
192,57633.608984,102.678075,88.29465,18021.824048,3940.638792,6425.307387,6915.782704,22330.056054,7126.929795,5258.820187,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539

In [82]:
external_updated = external.drop(external.index[0:192])
external_updated = external_updated.reset_index(drop=True)
external_updated

,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking","Dry Van Trailer Loadings (000s, SA)_freight_m_trucking","Reefer Trailer Loadings (000s, SA)_freight_m_trucking","Flatbed Trailer Loadings (000s, SA)_freight_m_trucking","Tank Trailer Loadings (000s, SA)_freight_m_trucking","Bulk Trailer/Straight Truck Loadings (000s, SA)_freight_m_trucking","Food & Kindred Products (000s, SA)_freight_m_trucking","Stone, Clay, Glass & Concrete (000s, SA)_freight_m_trucking",...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
0,57633.608984,102.678075,88.294650,18021.824048,3940.638792,6425.307387,6915.782704,22330.056054,7126.929795,5258.820187,...,3781.456264,27794.282064,124686.781905,131.151230,-3.059553,-4.779490,9319.589679,152.708536,-2.862110,-4.071539
1,57175.659828,101.862208,87.998407,17917.808139,3927.115595,6323.986294,6836.939472,22169.810328,7090.093356,5112.762026,...,3788.239205,27866.593880,125670.368802,132.185812,0.788846,-3.121620,9382.912332,153.746126,0.679458,-3.188030
2,56814.700553,101.219136,87.790155,17835.922848,3922.853376,6352.228095,6758.129439,21945.566795,7130.846968,5123.243018,...,3774.318090,27979.567412,128886.278634,135.568452,2.559004,-5.444373,9482.543016,155.378650,1.061831,-4.392161
3,56916.813852,101.401057,89.639867,17713.172439,3978.633479,6304.602493,6858.428982,22061.976458,7139.440571,4996.184950,...,3747.836341,28177.619830,126805.535414,133.379832,-1.614402,-0.790990,9530.430423,156.163322,0.505006,-0.877894
4,56194.246889,100.113756,89.134818,17561.485366,3990.692209,6213.659026,6804.610846,21623.799441,7179.943436,4865.319042,...,3729.945201,28063.146701,125933.876825,132.462981,-0.687398,-5.224004,9470.699927,155.184592,-0.626735,-3.279259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,61469.059874,109.511184,89.962431,20072.391023,4379.187334,6993.332683,6571.127779,23453.021054,9375.896057,5404.795100,...,1659.062237,27510.709114,130785.286480,137.565915,-4.292340,-3.789923,9197.365201,150.705796,-5.789873,-6.796302
151,62140.797176,110.707928,90.641835,20379.910791,4404.415547,7096.862705,6601.260917,23658.347216,9520.297567,5381.920841,...,2800.173885,27783.114821,130164.560149,136.913007,-0.474615,-4.101139,9280.565489,152.069095,0.904610,-5.808619
152,62170.174317,110.760265,90.587889,20315.722086,4381.188114,7049.924576,6556.745680,23866.593861,9472.590699,5253.495206,...,5172.486335,28797.751551,131163.812796,137.964066,0.767684,-4.521754,9534.404757,156.228444,2.735170,-4.193642
153,62870.759335,112.008404,94.367218,20404.155544,4436.920215,7199.060314,6523.796564,24306.826698,9565.479621,5479.173341,...,5274.627254,29460.489760,133915.501937,140.858418,2.097903,-2.193690,9648.487039,158.097769,1.196533,-2.017344
154,63237.027387,112.660934,95.404858,20455.350315,4457.161049,7260.723423,6528.943165,24534.849434,9612.776202,5530.466144,...,5262.683625,30034.526494,134506.228615,141.479771,0.441119,-2.573624,9736.453679,159.539169,0.911714,-1.557223

### Only keep the data from 2008 for books and packaging dataset

In [83]:
books.loc[books["Year_Month"] == "2008-01"].head(1)

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
54501,504,NaN,2008-01-02 09:45:04.557000,0,2008-01-02,09:45:04.557000,2008-01

In [84]:
books_updated = books.drop(books.index[0:54501])
books_updated = books_updated.reset_index(drop=True)
books_updated.head()

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
0,504,NaN,2008-01-02 09:45:04.557000,0,2008-01-02,09:45:04.557000,2008-01
1,504,NaN,2008-01-02 09:45:47.513000,0,2008-01-02,09:45:47.513000,2008-01
2,504,NaN,2008-01-02 09:46:56.713000,0,2008-01-02,09:46:56.713000,2008-01
3,504,50405,2008-01-02 10:08:15.260000,115,2008-01-02,10:08:15.260000,2008-01
4,504,50405,2008-01-02 10:08:24.370000,98.5,2008-01-02,10:08:24.370000,2008-01

In [85]:
packaging.loc[packaging["Year_Month"] == "2008-01"].head(1)

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
76748,506,NaN,2008-01-02 09:46:06.497000,0,2008-01-02,09:46:06.497000,2008-01

In [86]:
packaging_updated = packaging.drop(packaging.index[0:76748])
packaging_updated = packaging_updated.reset_index(drop=True)
packaging_updated.head()

1,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month
0,506,NaN,2008-01-02 09:46:06.497000,0,2008-01-02,09:46:06.497000,2008-01
1,506,51006,2008-01-02 11:04:09.667000,318.08,2008-01-02,11:04:09.667000,2008-01
2,506,50611,2008-01-02 11:42:43.823000,24.63,2008-01-02,11:42:43.823000,2008-01
3,506,50614,2008-01-02 11:42:50.060000,300,2008-01-02,11:42:50.060000,2008-01
4,506,50601,2008-01-02 12:01:50.073000,39.5,2008-01-02,12:01:50.073000,2008-01

### Merge packaging and books datasets into external dataset

In [87]:
books_ext = pd.merge(books_updated, external_updated, left_on='Year_Month', right_on='Year_Month', how='left')
pack_ext = pd.merge(packaging_updated, external_updated, left_on='Year_Month', right_on='Year_Month', how='left')

#### books dataset after merged

In [88]:
print(books_ext.shape)
books_ext.head(50)

(105685, 250)

,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking",...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
0,504,NaN,2008-01-02 09:45:04.557000,0,2008-01-02,09:45:04.557000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
1,504,NaN,2008-01-02 09:45:47.513000,0,2008-01-02,09:45:47.513000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
2,504,NaN,2008-01-02 09:46:56.713000,0,2008-01-02,09:46:56.713000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
3,504,50405,2008-01-02 10:08:15.260000,115,2008-01-02,10:08:15.260000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
4,504,50405,2008-01-02 10:08:24.370000,98.5,2008-01-02,10:08:24.370000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
5,504,NaN,2008-01-02 10:27:33.510000,94,2008-01-02,10:27:33.510000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
6,504,50405,2008-01-02 11:22:30.950000,59,2008-01-02,11:22:30.950000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
7,504,NaN,2008-01-02 11:22:30.950000,580.5,2008-01-02,11:22:30.950000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
8,504,NaN,2008-01-02 11:22:58.293000,14.65,2008-01-02,11:22:58.293000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
9,504,NaN,2008-01-02 11:42:28.997000,21,2008-01-02,11:42:28.997000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
10,504,NaN,2008-01-02 11:42:33.293000,34.8,2008-01-02,11:42:33.293000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
11,504,NaN,2008-01-02 11:43:00.340000,74.42,2008-01-02,11:43:00.340000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
12,504,NaN,2008-01-02 11:43:01.277000,52,2008-01-02,11:43:01.277000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
13,504,NaN,2008-01-02 12:01:44.433000,44.8,2008-01-02,12:01:44.433000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
14,504,NaN,2008-01-02 12:01:53.747000,736,2008-01-02,12:01:53.747000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
15,504,NaN,2008-01-02 12:01:54.917000,73.6,2008-01-02,12:01:54.917000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
16,504,NaN,2008-01-02 13:25:49.867000,-10,2008-01-02,13:25:49.867000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
17,504,50405,2008-01-02 13:42:52.400000,266,2008-01-02,13:42:52.400000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
18,504,50409,2008-01-02 13:57:35.807000,0,2008-01-02,13:57:35.807000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
19,504,NaN,2008-01-02 14:02:23.370000,138,2008-01-02,14:02:23.370000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
20,504,NaN,2008-01-02 14:02:39.950000,370,2008-01-02,14:02:39.950000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
21,504,NaN,2008-01-02 14:02:41.150000,161.85,2008-01-02,14:02:41.150000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
22,504,NaN,2008-01-02 14:02:43.917000,462.5,2008-01-02,14:02:43.917000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
23,504,NaN,2008-01-02 14:02:48.323000,119,2008-01-02,14:02:48.323000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
24,504,NaN,2008-01-02 14:02:56.433000,14.9,2008-01-02,14:02:56.433000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
25,504,NaN,2008-01-02 14:02:57.417000,24.5,2008-01-02,14:02:57.417000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
26,504,NaN,2008-01-02 14:24:31.917000,462.5,2008-01-02,14:24:31.917000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
27,504,NaN,2008-01-02 14:24:33.213000,1395,2008-01-02,14:24:33.213000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
28,504,NaN,2008-01-02 14:24:37.573000,256,2008-01-02,14:24:37.573000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
29,504,50405,2008-01-02 14:24:42.010000,172.5,2008-01-02,14:24:42.010000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
30,504,NaN,2008-01-02 14:24:47.183000,52,2008-01-02,14:24:47.183000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
31,504,NaN,2008-01-02 14:44:28.933000,293,2008-01-02,14:44:28.933000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
32,504,NaN,2008-01-02 14:44:35.387000,110,2008-01-02,14:44:35.387000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
33,504,NaN,2008-01-02 14:44:36.200000,82,2008-01-02,14:44:36.200000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
34,504,50408,2008-01-02 15:41:33.450000,375,2008-01-02,15:41:33.450000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
35,504,NaN,2008-01-02 15:41:35.620000,219,2008-01-02,15:41:35.620000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
36,504,NaN,2008-01-02 15:41:36.543000,88,2008-01-02,15:41:36.543000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
37,504,NaN,2008-01-02 15:41:43.637000,62,2008-01-02,15:41:43.637000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
38,504,NaN,2008-01-02 15:41:46.603000,152.6,2008-01-02,15:41:46.603000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
39,504,NaN,2008-01-02 15:41:47.980000,145,2008-01-02,15:41:47.980000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
40,504,NaN,2008-01-02 15:59:14.557000,2.3,2008-01-02,15:59:14.557000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
41,504,NaN,2008-01-02 15:59:24.450000,74,2008-01-02,15:59:24.450000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
42,504,NaN,2008-01-02 16:18:31.150000,209,2008-01-02,16:18:31.150000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
43,504,NaN,2008-01-02 16:18:39.637000,14.65,2008-01-02,16:18:39.637000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
44,504,NaN,2008-01-02 16:36:45.527000,75,2008-01-02,16:36:45.527000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
45,504,NaN,2008-01-02 16:54:27.557000,364,2008-01-02,16:54:27.557000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
46,504,NaN,2008-01-02 16:54:50.277000,74,2008-01-02,16:54:50.277000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
47,504,NaN,2008-01-02 16:54:51.137000,600,2008-01-02,16:54:51.137000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
48,504,NaN,2008-01-02 16:55:16.200000,3055,2008-01-02,16:55:16.200000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
49,504,NaN,2008-01-02 16:55:19.293000,421.5,2008-01-02,16:55:19.293000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539

In [89]:
#books_ext.to_csv("Books_ext.csv")

#### packaging dataset after merged

In [90]:
print(pack_ext.shape)
pack_ext.head(50)

(112267, 250)

,Department Dim,Product Group Code,Posting Date,Sum of Sales,Date,Time,Year_Month,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking",...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
0,506,NaN,2008-01-02 09:46:06.497000,0,2008-01-02,09:46:06.497000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
1,506,51006,2008-01-02 11:04:09.667000,318.08,2008-01-02,11:04:09.667000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
2,506,50611,2008-01-02 11:42:43.823000,24.63,2008-01-02,11:42:43.823000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
3,506,50614,2008-01-02 11:42:50.060000,300,2008-01-02,11:42:50.060000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
4,506,50601,2008-01-02 12:01:50.073000,39.5,2008-01-02,12:01:50.073000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
5,506,NaN,2008-01-02 12:02:00.230000,37.54,2008-01-02,12:02:00.230000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
6,506,51006,2008-01-02 12:21:27.183000,308.7,2008-01-02,12:21:27.183000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
7,506,51006,2008-01-02 12:55:26.057000,0,2008-01-02,12:55:26.057000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
8,506,50604,2008-01-02 12:58:18.450000,228,2008-01-02,12:58:18.450000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
9,506,50604,2008-01-02 12:58:34.357000,264.84,2008-01-02,12:58:34.357000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
10,506,51011,2008-01-02 12:58:36.667000,113.42,2008-01-02,12:58:36.667000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
11,506,50601,2008-01-02 12:58:40.277000,44.94,2008-01-02,12:58:40.277000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
12,506,50614,2008-01-02 12:58:41.307000,73.4,2008-01-02,12:58:41.307000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
13,506,51006,2008-01-02 13:21:43.343000,577.15,2008-01-02,13:21:43.343000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
14,506,NaN,2008-01-02 13:42:26.823000,397.4,2008-01-02,13:42:26.823000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
15,506,51011,2008-01-02 13:42:45.293000,2387.5,2008-01-02,13:42:45.293000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
16,506,50612,2008-01-02 13:42:56.650000,64.8,2008-01-02,13:42:56.650000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
17,506,51006,2008-01-02 13:43:00.683000,61.71,2008-01-02,13:43:00.683000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
18,506,51011,2008-01-02 13:43:17.323000,42.49,2008-01-02,13:43:17.323000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
19,506,NaN,2008-01-02 13:43:26.090000,253.89,2008-01-02,13:43:26.090000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
20,506,NaN,2008-01-02 13:43:36.480000,103.94,2008-01-02,13:43:36.480000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
21,506,50604,2008-01-02 13:50:22.200000,0,2008-01-02,13:50:22.200000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
22,506,50604,2008-01-02 13:57:35.807000,0,2008-01-02,13:57:35.807000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
23,506,NaN,2008-01-02 13:57:35.807000,-3.95,2008-01-02,13:57:35.807000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
24,506,51011,2008-01-02 14:02:45.840000,101.84,2008-01-02,14:02:45.840000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
25,506,50609,2008-01-02 14:24:18.247000,759.6,2008-01-02,14:24:18.247000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
26,506,50611,2008-01-02 14:24:25.573000,6.98,2008-01-02,14:24:25.573000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
27,506,51012,2008-01-02 14:34:43.137000,-16.69,2008-01-02,14:34:43.137000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
28,506,50600,2008-01-02 14:40:34.090000,-1.32,2008-01-02,14:40:34.090000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
29,506,50609,2008-01-02 14:41:00.730000,-2.58,2008-01-02,14:41:00.730000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
30,506,50609,2008-01-02 14:44:18.463000,425.5,2008-01-02,14:44:18.463000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
31,506,50604,2008-01-02 14:44:28.057000,396,2008-01-02,14:44:28.057000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
32,506,51011,2008-01-02 14:44:31.730000,44.64,2008-01-02,14:44:31.730000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
33,506,50606,2008-01-02 14:44:33.700000,999.36,2008-01-02,14:44:33.700000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
34,506,NaN,2008-01-02 14:44:37.463000,120,2008-01-02,14:44:37.463000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
35,506,NaN,2008-01-02 14:44:41.057000,402.5,2008-01-02,14:44:41.057000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
36,506,50605,2008-01-02 15:22:16.400000,245.42,2008-01-02,15:22:16.400000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
37,506,NaN,2008-01-02 15:22:23.103000,171,2008-01-02,15:22:23.103000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
38,506,50604,2008-01-02 15:59:17.683000,0,2008-01-02,15:59:17.683000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
39,506,50609,2008-01-02 16:18:20.963000,219.96,2008-01-02,16:18:20.963000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
40,506,50614,2008-01-02 16:18:24.870000,220.2,2008-01-02,16:18:24.870000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
41,506,NaN,2008-01-02 16:18:28.183000,73.8,2008-01-02,16:18:28.183000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
42,506,NaN,2008-01-02 16:18:32.870000,423,2008-01-02,16:18:32.870000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
43,506,50604,2008-01-02 16:18:34.073000,43.75,2008-01-02,16:18:34.073000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
44,506,50606,2008-01-02 16:18:37.010000,87.81,2008-01-02,16:18:37.010000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
45,506,50607,2008-01-02 16:54:53.713000,116.8,2008-01-02,16:54:53.713000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
46,506,50609,2008-01-02 16:55:02.183000,631,2008-01-02,16:55:02.183000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
47,506,50600,2008-01-02 17:13:37.260000,1120,2008-01-02,17:13:37.260000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
48,506,NaN,2008-01-02 17:13:59.620000,2936,2008-01-02,17:13:59.620000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539
49,506,50604,2008-01-02 17:14:00.840000,12.8,2008-01-02,17:14:00.840000,2008-01,57633.608984,102.678075,88.29465,...,3781.456264,27794.282064,124686.781905,131.15123,-3.059553,-4.77949,9319.589679,152.708536,-2.86211,-4.071539

In [91]:
#pack_ext.to_csv("Packaging_ext.csv")