In [266]:
import pandas as pd
import numpy as np

In [267]:
data = pd.read_excel(open('Trucking Database.xlsx', 'rb'),sheet_name='freight-m')

In [268]:
data

,U.S. Heavy Truck Freight,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 353,Unnamed: 354,Unnamed: 355,Unnamed: 356,Unnamed: 357,Unnamed: 358,Unnamed: 359,Unnamed: 360,Unnamed: 361,Unnamed: 362
0,Monthly Data,NaN,NaN,1992,1992,1992,1992,1992,1992,1992,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
1,NEW SOURCE:,Seasonally Adjusted,NaN,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
2,NaN,Loadings (thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sheet 'MONTHLY' / Row 10,"FTR Truck Loadings (000s, SA)",NaN,42923.5,43029.3,43569.2,44421.6,44679.1,44218.3,44203.8,...,64186.2,64495,64731.1,64940.4,65098.5,65272.9,65439.2,65611.2,65750.7,65871.6
4,Sheet 'MONTHLY' / Row 53,FTR Truck Loadings Index (2000=100),NaN,76.471,76.6594,77.6214,79.14,79.5987,78.7779,78.752,...,114.352,114.902,115.323,115.696,115.977,116.288,116.584,116.891,117.139,117.355
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Truck Utilization (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Sheet 'MONTHLY' / Row 6,"FTR Active Truck Utilization (%, SA)",NaN,82.3826,82.9727,83.6622,83.4209,83.693,83.705,85.1077,...,94.94,95.3176,95.3148,95.1905,94.766,94.5326,94.3116,94.1067,93.9079,93.7187
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Loadings by Trailer Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Sheet 'MONTHLY' / Row 31,"Dry Van Trailer Loadings (000s, SA)",NaN,14649.6,14797.5,14985.1,15186,15280.9,15314.6,15288.3,...,20570.9,20672.7,20732.3,20782.5,20810.1,20851.1,20892.5,20940.6,20977.8,21010.4
11,Sheet 'MONTHLY' / Row 34,"Reefer Trailer Loadings (000s, SA)",NaN,2806.69,2782.04,2775.16,2760.59,2782.33,2799.05,2836.71,...,4518.99,4539.93,4555.96,4570.33,4582.07,4593.88,4604.77,4613.45,4623.48,4633.56
12,Sheet 'MONTHLY' / Row 37,"Flatbed Trailer Loadings (000s, SA)",NaN,4569.7,4621.96,4666.45,4739.93,4762.93,4747.64,4714.18,...,7434.31,7482.57,7521.94,7557.34,7588.73,7616.19,7639.68,7655.79,7673.93,7690.69
13,Sheet 'MONTHLY' / Row 43,"Tank Trailer Loadings (000s, SA)",NaN,5579.7,5534.44,5543.48,5779.74,5741.76,5723.67,5498.19,...,6696.14,6712.73,6735.63,6757.61,6780.27,6799.2,6816.01,6829.74,6843.01,6854.87
14,NaN,"Bulk Trailer/Straight Truck Loadings (000s, SA)",NaN,15317.8,15293.3,15599,15955.3,16111.1,15633.3,15866.4,...,24965.9,25087.1,25185.2,25272.7,25337.2,25412.5,25486.3,25571.6,25632.5,25682.1
15,NaN,Loadings by Commodity Group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Sheet 'MONTHLY' / Row 13,"Food & Kindred Products (000s, SA)",NaN,6534.13,6462.44,6495.54,6620.96,6604.79,6620.59,6623.57,...,9765.47,9808.56,9843.91,9875.96,9902.5,9929.63,9955.13,9977.27,10000.8,10024.1
17,Sheet 'MONTHLY' / Row 16,"Stone, Clay, Glass & Concrete (000s, SA)",NaN,3803.69,3854.63,3860.49,3897.84,3899.17,3895.22,3867.09,...,5660.66,5697.35,5726.96,5753.41,5776.99,5796.94,5813.53,5823.73,5835.89,5846.96
18,Sheet 'MONTHLY' / Row 19,"Nonmetallic Minerals, Except Fuels (000s, SA)",NaN,7045.18,6936.62,7216.58,7305.05,7401.99,7009.87,7170.63,...,10173.8,10254.7,10309.7,10357.5,10393.9,10430.5,10463.1,10490.2,10515.9,10538.7
19,Sheet 'MONTHLY' / Row 22,"Chemicals & Allied Products (000s, SA)",NaN,1934.32,1942.7,1947.25,2021.97,1998.65,2022.38,2009.46,...,2669.95,2679.26,2689.01,2697.23,2702.43,2708.72,2714.61,2720.83,2725.36,2728.94
20,Sheet 'MONTHLY' / Row 25,"Transportation Equipment (000s, SA)",NaN,2266.19,2388.15,2443.74,2353.58,2444.06,2428.26,2386.76,...,5143.91,5219.94,5241.36,5253.54,5239.98,5246.06,5255.28,5284.96,5287.47,5280.12
21,Sheet 'MONTHLY' / Row 28,"All Other Freight (000s, SA)",NaN,21340,21444.7,21605.6,22222.2,22330.4,22242,22146.3,...,30772.5,30835.2,30920.1,31002.8,31082.6,31161.1,31237.6,31314.2,31385.3,31452.9
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Loadings by Length-of-Haul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Short-Haul (<125 mi),NaN,12927.8,12925.1,13167.3,13397,13523.5,13119.2,13035.8,...,17279.8,17377,17450.5,17517.3,17577.6,17631.3,17678.2,17716.1,17751.7,17782.4
25,NaN,Medium-Haul (from 125 to 299 mi),NaN,11102.5,11041.6,11224.8,11438.4,11464.3,11395,11481.9,...,18035.2,18036.6,18070.9,18104.6,18134.6,18169.5,18206.2,18250.2,18286.4,18320.2
26,NaN,Long-Haul (from 300 to 549 mi),NaN,13325,13451.6,13612.5,13794.5,13847.8,13887.6,13846.3,...,22381.2,22557.7,22658.2,22741.9,22788.6,22854,22917.7,22992.4,23043.7,23084
27,NaN,Super Long-Haul (550+ mi),NaN,5568.14,5611.05,5564.58,5791.6,5843.4,5816.62,5839.84,...,6490.06,6523.79,6551.57,6576.61,6597.63,6618.2,6637.02,6652.51,6669,6684.93
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Truck Tonnage (thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Sheet 'MONTHLY' / Row 49,"FTR Heavy-Duty Truck Tonnage (000s, SA)",NaN,804705,802766,814675,830909,835046,820267,820535,...,1.13568e+06,1.13995e+06,1.14379e+06,1.14726e+06,1.15011e+06,1.15308e+06,1.15588e+06,1.1588e+06,1.1611e+06,1.16305e+06
31,Sheet 'MONTHLY' / Row 92,FTR Heavy-Duty Truck Tonnage Index (2000=100),NaN,77.2708,77.0846,78.2281,79.787,80.1842,78.7651,78.7909,...,109.052,109.463,109.831,110.164,110.438,110.723,110.992,111.272,111.493,111.68
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Rail Intermodal Loadings (Thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,"FTR Rail Intermodal Loadings (000, SA)",NaN,550.397,563.499,539.852,549.778,547.14,530.137,572.897,...,1339.63,1331.97,1327.61,1324.75,1323.38,1323.5,1325.11,1329.98,1333.25,1336.69
35,NaN,FTR Rail Intermodal Loadings Index (2000=100),NaN,72.2204,73.9395,70.8368,72.1392,71.7931,69.562,75.1727,...,175.78,174.775,174.203,173.827,173.648,173.663,173.875,174.514,174.943,175.394

In [269]:
# Transposing the dataframe
data = data.T

In [270]:
data

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
U.S. Heavy Truck Freight,Monthly Data,NEW SOURCE:,NaN,Sheet 'MONTHLY' / Row 10,Sheet 'MONTHLY' / Row 53,NaN,NaN,Sheet 'MONTHLY' / Row 6,NaN,NaN,...,NaN,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 49,Sheet 'MONTHLY' / Row 92,NaN,NaN,NaN,NaN
Unnamed: 1,NaN,Seasonally Adjusted,Loadings (thousands),"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),NaN,Truck Utilization (%),"FTR Active Truck Utilization (%, SA)",NaN,Loadings by Trailer Type,...,Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),NaN,Truck Tonnage (thousands),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),NaN,Rail Intermodal Loadings (Thousands),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
Unnamed: 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,1992,JAN,NaN,42923.5,76.471,NaN,NaN,82.3826,NaN,NaN,...,13325,5568.14,NaN,NaN,804705,77.2708,NaN,NaN,550.397,72.2204
Unnamed: 4,1992,FEB,NaN,43029.3,76.6594,NaN,NaN,82.9727,NaN,NaN,...,13451.6,5611.05,NaN,NaN,802766,77.0846,NaN,NaN,563.499,73.9395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 358,2021,AUG,NaN,65272.9,116.288,NaN,NaN,94.5326,NaN,NaN,...,22854,6618.2,NaN,NaN,1.15308e+06,110.723,NaN,NaN,1323.5,173.663
Unnamed: 359,2021,SEP,NaN,65439.2,116.584,NaN,NaN,94.3116,NaN,NaN,...,22917.7,6637.02,NaN,NaN,1.15588e+06,110.992,NaN,NaN,1325.11,173.875
Unnamed: 360,2021,OCT,NaN,65611.2,116.891,NaN,NaN,94.1067,NaN,NaN,...,22992.4,6652.51,NaN,NaN,1.1588e+06,111.272,NaN,NaN,1329.98,174.514
Unnamed: 361,2021,NOV,NaN,65750.7,117.139,NaN,NaN,93.9079,NaN,NaN,...,23043.7,6669,NaN,NaN,1.1611e+06,111.493,NaN,NaN,1333.25,174.943
Unnamed: 362,2021,DEC,NaN,65871.6,117.355,NaN,NaN,93.7187,NaN,NaN,...,23084,6684.93,NaN,NaN,1.16305e+06,111.68,NaN,NaN,1336.69,175.394

In [271]:
# using the values in row 1 as column name
data.columns = data.iloc[1, :]

In [272]:
data

Unnamed: 1,NaN,Seasonally Adjusted,Loadings (thousands),"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),NaN,Truck Utilization (%),"FTR Active Truck Utilization (%, SA)",NaN,Loadings by Trailer Type,...,Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),NaN,Truck Tonnage (thousands),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),NaN,Rail Intermodal Loadings (Thousands),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
U.S. Heavy Truck Freight,Monthly Data,NEW SOURCE:,NaN,Sheet 'MONTHLY' / Row 10,Sheet 'MONTHLY' / Row 53,NaN,NaN,Sheet 'MONTHLY' / Row 6,NaN,NaN,...,NaN,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 49,Sheet 'MONTHLY' / Row 92,NaN,NaN,NaN,NaN
Unnamed: 1,NaN,Seasonally Adjusted,Loadings (thousands),"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),NaN,Truck Utilization (%),"FTR Active Truck Utilization (%, SA)",NaN,Loadings by Trailer Type,...,Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),NaN,Truck Tonnage (thousands),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),NaN,Rail Intermodal Loadings (Thousands),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
Unnamed: 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,1992,JAN,NaN,42923.5,76.471,NaN,NaN,82.3826,NaN,NaN,...,13325,5568.14,NaN,NaN,804705,77.2708,NaN,NaN,550.397,72.2204
Unnamed: 4,1992,FEB,NaN,43029.3,76.6594,NaN,NaN,82.9727,NaN,NaN,...,13451.6,5611.05,NaN,NaN,802766,77.0846,NaN,NaN,563.499,73.9395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 358,2021,AUG,NaN,65272.9,116.288,NaN,NaN,94.5326,NaN,NaN,...,22854,6618.2,NaN,NaN,1.15308e+06,110.723,NaN,NaN,1323.5,173.663
Unnamed: 359,2021,SEP,NaN,65439.2,116.584,NaN,NaN,94.3116,NaN,NaN,...,22917.7,6637.02,NaN,NaN,1.15588e+06,110.992,NaN,NaN,1325.11,173.875
Unnamed: 360,2021,OCT,NaN,65611.2,116.891,NaN,NaN,94.1067,NaN,NaN,...,22992.4,6652.51,NaN,NaN,1.1588e+06,111.272,NaN,NaN,1329.98,174.514
Unnamed: 361,2021,NOV,NaN,65750.7,117.139,NaN,NaN,93.9079,NaN,NaN,...,23043.7,6669,NaN,NaN,1.1611e+06,111.493,NaN,NaN,1333.25,174.943
Unnamed: 362,2021,DEC,NaN,65871.6,117.355,NaN,NaN,93.7187,NaN,NaN,...,23084,6684.93,NaN,NaN,1.16305e+06,111.68,NaN,NaN,1336.69,175.394

In [273]:
data = data.drop(index=['Unnamed: 1'], axis=0)
data = data.reset_index()
data = data.drop('index', axis=1)

In [274]:
data

Unnamed: 1,NaN,Seasonally Adjusted,Loadings (thousands),"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),NaN,Truck Utilization (%),"FTR Active Truck Utilization (%, SA)",NaN,Loadings by Trailer Type,...,Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),NaN,Truck Tonnage (thousands),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),NaN,Rail Intermodal Loadings (Thousands),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
0,Monthly Data,NEW SOURCE:,NaN,Sheet 'MONTHLY' / Row 10,Sheet 'MONTHLY' / Row 53,NaN,NaN,Sheet 'MONTHLY' / Row 6,NaN,NaN,...,NaN,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 49,Sheet 'MONTHLY' / Row 92,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,JAN,NaN,42923.5,76.471,NaN,NaN,82.3826,NaN,NaN,...,13325,5568.14,NaN,NaN,804705,77.2708,NaN,NaN,550.397,72.2204
3,1992,FEB,NaN,43029.3,76.6594,NaN,NaN,82.9727,NaN,NaN,...,13451.6,5611.05,NaN,NaN,802766,77.0846,NaN,NaN,563.499,73.9395
4,1992,MAR,NaN,43569.2,77.6214,NaN,NaN,83.6622,NaN,NaN,...,13612.5,5564.58,NaN,NaN,814675,78.2281,NaN,NaN,539.852,70.8368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2021,AUG,NaN,65272.9,116.288,NaN,NaN,94.5326,NaN,NaN,...,22854,6618.2,NaN,NaN,1.15308e+06,110.723,NaN,NaN,1323.5,173.663
358,2021,SEP,NaN,65439.2,116.584,NaN,NaN,94.3116,NaN,NaN,...,22917.7,6637.02,NaN,NaN,1.15588e+06,110.992,NaN,NaN,1325.11,173.875
359,2021,OCT,NaN,65611.2,116.891,NaN,NaN,94.1067,NaN,NaN,...,22992.4,6652.51,NaN,NaN,1.1588e+06,111.272,NaN,NaN,1329.98,174.514
360,2021,NOV,NaN,65750.7,117.139,NaN,NaN,93.9079,NaN,NaN,...,23043.7,6669,NaN,NaN,1.1611e+06,111.493,NaN,NaN,1333.25,174.943
361,2021,DEC,NaN,65871.6,117.355,NaN,NaN,93.7187,NaN,NaN,...,23084,6684.93,NaN,NaN,1.16305e+06,111.68,NaN,NaN,1336.69,175.394

In [275]:
data = data.dropna(how='all', axis=1)

In [276]:
data

Unnamed: 1,NaN,Seasonally Adjusted,"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),"FTR Active Truck Utilization (%, SA)","Dry Van Trailer Loadings (000s, SA)","Reefer Trailer Loadings (000s, SA)","Flatbed Trailer Loadings (000s, SA)","Tank Trailer Loadings (000s, SA)","Bulk Trailer/Straight Truck Loadings (000s, SA)",...,"Transportation Equipment (000s, SA)","All Other Freight (000s, SA)",Short-Haul (<125 mi),Medium-Haul (from 125 to 299 mi),Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
0,Monthly Data,NEW SOURCE:,Sheet 'MONTHLY' / Row 10,Sheet 'MONTHLY' / Row 53,Sheet 'MONTHLY' / Row 6,Sheet 'MONTHLY' / Row 31,Sheet 'MONTHLY' / Row 34,Sheet 'MONTHLY' / Row 37,Sheet 'MONTHLY' / Row 43,NaN,...,Sheet 'MONTHLY' / Row 25,Sheet 'MONTHLY' / Row 28,NaN,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 49,Sheet 'MONTHLY' / Row 92,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,JAN,42923.5,76.471,82.3826,14649.6,2806.69,4569.7,5579.7,15317.8,...,2266.19,21340,12927.8,11102.5,13325,5568.14,804705,77.2708,550.397,72.2204
3,1992,FEB,43029.3,76.6594,82.9727,14797.5,2782.04,4621.96,5534.44,15293.3,...,2388.15,21444.7,12925.1,11041.6,13451.6,5611.05,802766,77.0846,563.499,73.9395
4,1992,MAR,43569.2,77.6214,83.6622,14985.1,2775.16,4666.45,5543.48,15599,...,2443.74,21605.6,13167.3,11224.8,13612.5,5564.58,814675,78.2281,539.852,70.8368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2021,AUG,65272.9,116.288,94.5326,20851.1,4593.88,7616.19,6799.2,25412.5,...,5246.06,31161.1,17631.3,18169.5,22854,6618.2,1.15308e+06,110.723,1323.5,173.663
358,2021,SEP,65439.2,116.584,94.3116,20892.5,4604.77,7639.68,6816.01,25486.3,...,5255.28,31237.6,17678.2,18206.2,22917.7,6637.02,1.15588e+06,110.992,1325.11,173.875
359,2021,OCT,65611.2,116.891,94.1067,20940.6,4613.45,7655.79,6829.74,25571.6,...,5284.96,31314.2,17716.1,18250.2,22992.4,6652.51,1.1588e+06,111.272,1329.98,174.514
360,2021,NOV,65750.7,117.139,93.9079,20977.8,4623.48,7673.93,6843.01,25632.5,...,5287.47,31385.3,17751.7,18286.4,23043.7,6669,1.1611e+06,111.493,1333.25,174.943
361,2021,DEC,65871.6,117.355,93.7187,21010.4,4633.56,7690.69,6854.87,25682.1,...,5280.12,31452.9,17782.4,18320.2,23084,6684.93,1.16305e+06,111.68,1336.69,175.394

In [277]:
data = data.drop(index=[0, 1], axis=0)

In [278]:
data

Unnamed: 1,NaN,Seasonally Adjusted,"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),"FTR Active Truck Utilization (%, SA)","Dry Van Trailer Loadings (000s, SA)","Reefer Trailer Loadings (000s, SA)","Flatbed Trailer Loadings (000s, SA)","Tank Trailer Loadings (000s, SA)","Bulk Trailer/Straight Truck Loadings (000s, SA)",...,"Transportation Equipment (000s, SA)","All Other Freight (000s, SA)",Short-Haul (<125 mi),Medium-Haul (from 125 to 299 mi),Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
2,1992,JAN,42923.5,76.471,82.3826,14649.6,2806.69,4569.7,5579.7,15317.8,...,2266.19,21340,12927.8,11102.5,13325,5568.14,804705,77.2708,550.397,72.2204
3,1992,FEB,43029.3,76.6594,82.9727,14797.5,2782.04,4621.96,5534.44,15293.3,...,2388.15,21444.7,12925.1,11041.6,13451.6,5611.05,802766,77.0846,563.499,73.9395
4,1992,MAR,43569.2,77.6214,83.6622,14985.1,2775.16,4666.45,5543.48,15599,...,2443.74,21605.6,13167.3,11224.8,13612.5,5564.58,814675,78.2281,539.852,70.8368
5,1992,APR,44421.6,79.14,83.4209,15186,2760.59,4739.93,5779.74,15955.3,...,2353.58,22222.2,13397,11438.4,13794.5,5791.6,830909,79.787,549.778,72.1392
6,1992,MAY,44679.1,79.5987,83.693,15280.9,2782.33,4762.93,5741.76,16111.1,...,2444.06,22330.4,13523.5,11464.3,13847.8,5843.4,835046,80.1842,547.14,71.7931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2021,AUG,65272.9,116.288,94.5326,20851.1,4593.88,7616.19,6799.2,25412.5,...,5246.06,31161.1,17631.3,18169.5,22854,6618.2,1.15308e+06,110.723,1323.5,173.663
358,2021,SEP,65439.2,116.584,94.3116,20892.5,4604.77,7639.68,6816.01,25486.3,...,5255.28,31237.6,17678.2,18206.2,22917.7,6637.02,1.15588e+06,110.992,1325.11,173.875
359,2021,OCT,65611.2,116.891,94.1067,20940.6,4613.45,7655.79,6829.74,25571.6,...,5284.96,31314.2,17716.1,18250.2,22992.4,6652.51,1.1588e+06,111.272,1329.98,174.514
360,2021,NOV,65750.7,117.139,93.9079,20977.8,4623.48,7673.93,6843.01,25632.5,...,5287.47,31385.3,17751.7,18286.4,23043.7,6669,1.1611e+06,111.493,1333.25,174.943
361,2021,DEC,65871.6,117.355,93.7187,21010.4,4633.56,7690.69,6854.87,25682.1,...,5280.12,31452.9,17782.4,18320.2,23084,6684.93,1.16305e+06,111.68,1336.69,175.394

In [263]:
data = data.rename(columns = {np.nan: 'Year', 'Seasonally Adjusted': 'Month'})

In [279]:
data.reset_index(drop=True, inplace=True)
data

Unnamed: 1,NaN,Seasonally Adjusted,"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),"FTR Active Truck Utilization (%, SA)","Dry Van Trailer Loadings (000s, SA)","Reefer Trailer Loadings (000s, SA)","Flatbed Trailer Loadings (000s, SA)","Tank Trailer Loadings (000s, SA)","Bulk Trailer/Straight Truck Loadings (000s, SA)",...,"Transportation Equipment (000s, SA)","All Other Freight (000s, SA)",Short-Haul (<125 mi),Medium-Haul (from 125 to 299 mi),Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
0,1992,JAN,42923.5,76.471,82.3826,14649.6,2806.69,4569.7,5579.7,15317.8,...,2266.19,21340,12927.8,11102.5,13325,5568.14,804705,77.2708,550.397,72.2204
1,1992,FEB,43029.3,76.6594,82.9727,14797.5,2782.04,4621.96,5534.44,15293.3,...,2388.15,21444.7,12925.1,11041.6,13451.6,5611.05,802766,77.0846,563.499,73.9395
2,1992,MAR,43569.2,77.6214,83.6622,14985.1,2775.16,4666.45,5543.48,15599,...,2443.74,21605.6,13167.3,11224.8,13612.5,5564.58,814675,78.2281,539.852,70.8368
3,1992,APR,44421.6,79.14,83.4209,15186,2760.59,4739.93,5779.74,15955.3,...,2353.58,22222.2,13397,11438.4,13794.5,5791.6,830909,79.787,549.778,72.1392
4,1992,MAY,44679.1,79.5987,83.693,15280.9,2782.33,4762.93,5741.76,16111.1,...,2444.06,22330.4,13523.5,11464.3,13847.8,5843.4,835046,80.1842,547.14,71.7931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2021,AUG,65272.9,116.288,94.5326,20851.1,4593.88,7616.19,6799.2,25412.5,...,5246.06,31161.1,17631.3,18169.5,22854,6618.2,1.15308e+06,110.723,1323.5,173.663
356,2021,SEP,65439.2,116.584,94.3116,20892.5,4604.77,7639.68,6816.01,25486.3,...,5255.28,31237.6,17678.2,18206.2,22917.7,6637.02,1.15588e+06,110.992,1325.11,173.875
357,2021,OCT,65611.2,116.891,94.1067,20940.6,4613.45,7655.79,6829.74,25571.6,...,5284.96,31314.2,17716.1,18250.2,22992.4,6652.51,1.1588e+06,111.272,1329.98,174.514
358,2021,NOV,65750.7,117.139,93.9079,20977.8,4623.48,7673.93,6843.01,25632.5,...,5287.47,31385.3,17751.7,18286.4,23043.7,6669,1.1611e+06,111.493,1333.25,174.943
359,2021,DEC,65871.6,117.355,93.7187,21010.4,4633.56,7690.69,6854.87,25682.1,...,5280.12,31452.9,17782.4,18320.2,23084,6684.93,1.16305e+06,111.68,1336.69,175.394

In [280]:
data.columns

Index([                                              nan,
                                   'Seasonally Adjusted',
                         'FTR Truck Loadings (000s, SA)',
                   'FTR Truck Loadings Index (2000=100)',
                  'FTR Active Truck Utilization (%, SA)',
                   'Dry Van Trailer Loadings (000s, SA)',
                    'Reefer Trailer Loadings (000s, SA)',
                   'Flatbed Trailer Loadings (000s, SA)',
                      'Tank Trailer Loadings (000s, SA)',
       'Bulk Trailer/Straight Truck Loadings (000s, SA)',
                    'Food & Kindred Products (000s, SA)',
              'Stone, Clay, Glass & Concrete (000s, SA)',
         'Nonmetallic Minerals, Except Fuels (000s, SA)',
                'Chemicals & Allied Products (000s, SA)',
                   'Transportation Equipment (000s, SA)',
                          'All Other Freight (000s, SA)',
                                  'Short-Haul (<125 mi)',
                      'Medium-Haul (from 125 to 299 mi)',
                        'Long-Haul (from 300 to 549 mi)',
                             'Super Long-Haul (550+ mi)',
               'FTR Heavy-Duty Truck Tonnage (000s, SA)',
         'FTR Heavy-Duty Truck Tonnage Index (2000=100)',
                'FTR Rail Intermodal Loadings (000, SA)',
         'FTR Rail Intermodal Loadings Index (2000=100)'],
      dtype='object', name='Unnamed: 1')