# LabelMaster Sales Data
In this notebook we will prep the Labelmaster sales data and merge all the sheets into one single dataframe.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Load all the sales data sheets into the notebook

In [ ]:
# Load all data sheets
df1 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 1.xlsx")
df2 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 2.xlsx")
df3 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 3.xlsx")
df4 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 4.xlsx")
df5 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 5.xlsx")
df6 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 6.xlsx")
df7 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 7.xlsx")
df8 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 8.xlsx")
df9 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 9.xlsx")
df10 = pd.read_excel("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/Labelmaster Daily Sales by Product Group Part 10.xlsx")

A method to preprocess raw datasheets.
- Rename the columns of the datasheet
- Drop the columns which do not provide any necessary information
- Change the datatype of column that are of numeric datatype.

In [ ]:
def preprocess_datasheet(sheet):
  
  # Rename the columns
  sheet = sheet.rename(columns=sheet.iloc[1])
  
  #Drop unnecessary columns
  sheet = sheet.drop(sheet.index[0:2])
  
  #Change datatypes to integer and float
  sheet["Department Dim"] = sheet["Department Dim"].astype("int")
  sheet["Sum of Sales"] = sheet["Sum of Sales"].astype("float")

  return sheet

Run the proeprocssing method on each sheet and create a list of all preprocessed sheets.

In [ ]:
#Create a list of dataframes
dfs = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]

#Create a list of preprocessed dataframes as sheets
sheet = [preprocess_datasheet(df) for df in dfs]

   Department Dim Product Group Code         Posting Date  Sum of Sales
2             505              50504  1993-01-04 00:00:00       1599.50
3             510                NaN  1993-01-04 00:00:00       2168.78
4             510              50301  1993-01-04 00:00:00        107.10
5             510              50305  1993-01-04 00:00:00        113.25
6             511                NaN  1993-01-04 00:00:00      14308.41

Merge all the sheets into one single dataframe and save it for the future use.

In [ ]:
#Concatenate all the sheets data
final_sheet = pd.concat(sheet)

In [ ]:
# Save the final sheet to csv format
final_sheet.to_csv("/content/drive/My Drive/Colab Notebooks/LabelMaster/LabelMaster Data/concatenated_sales_data.csv")