In [10]:
import pandas as pd
from datetime import datetime

In [11]:
books = pd.read_csv('C:/Users/11602/OneDrive/Practicum/LabelMaster_Sales_Forecasting/src/Data_Prep/sales_from_2008.csv', index_col = 0)
books

            Date  Sum of Sales
0     2008-01-02      14056.71
1     2008-01-03       5997.04
2     2008-01-04      10040.78
3     2008-01-07      10788.22
4     2008-01-08      15470.33
...          ...           ...
3339  2021-01-01      -1353.22
3340  2021-01-04      58590.39
3341  2021-01-05      23944.15
3342  2021-01-06      18402.29
3343  2021-01-07      67854.10

[3344 rows x 2 columns]

In [13]:
books['Date'] = books['Date'].astype('datetime64[ns]')

In [17]:
weekly_data = books.resample('W-Wed', label='right', closed = 'right', on='Date').sum().reset_index().sort_values(by='Date')

In [20]:
weekly_data.to_csv('weekly_sales.csv')